<!DOCTYPE html>
<html>
<head>
	<meta charset="utf8" lang="en">
 	<title>Antonyms</title>
 	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/style2.css') }}">
</head>
<body>
    <section class="imgbg">
   	<img class="img1" src="../static/images/Ayusheer logo.png" alt="ayusheer logo">
	<center><h1>Wordigo</h1></center>
	<img class="img2" src="../static/images/Sushiksha.png" alt="sushiksha logo">
	</section>
	
	<section class="nav">
	<nav class="topnav" id="mytopnav">
		<a action="/index.html"><b>Home</b></a>
		<a href="Antonym.html"><b>Antonym</b></a>
		<a href="synonyms.html"><b>Synonym</b></a>
		<a href="report.html"><b>Report</b></a>
	</nav>
    </section>
        <center>
			<form method="POST" action="">
				<input type="text" placeholder="Type the word"><br>
				<input type="Submit" placeholder="Submit">
			</form>
	    </center>
	<footer>
        <div><b>&copy; Ayusheer, 2020</b></div>
        <a href="mailto:nshenoyv@gmail.com"><b>Contact US</b></a>
        <center><img src="../static/images/WKC.png" alt= "WKC logo"></center>
    </footer>
	</body>
</html>