<!DOCTYPE html>
<html lang="en">
<head>
	<title>AYUSHEER</title>
	<meta charset="UTF-8">
	 <meta name="viewport" content="width=device-width, initial-scale=1.0">
	 <link rel="stylesheet" type="text/css" href="../static/styles/style.css">
</head>
<body>
	<section class="imgbg">
		<img class="img1" src="../static/images/Ayusheer logo.png" alt="ayusheer logo">
		<center><h1>Wordigo</h1></center>
	    <img class="img2" src="../static/images/Sushiksha.png" alt="sushiksha logo">
	    
	</section>
	
	<section class="nav">
	<nav class="topnav" id="mytopnav">
		<a href="index.html"><b>Home</b></a>
		<a href="Antonym.html"><b>Antonym</b></a>
		<a href="synonyms.html"><b>Synonym</b></a>
		<a href="report.html"><b>Report</b></a>
			</nav>
    </section>

    <div>
    	<p>
    	This app contains both the Synonyms and Antonyms for a particular word. With this App learning synonym and antonym becomes easier.  This app is best for students, travellers, teachers, businessman, players.  Synonyms are the words that are similar or have a related meaning to another word. They can be lifesavers, especially when you want to avoid repeating the same words over and over.   Antonyms are words that are opposite in meaning to another.

        </p>
    </div>
</body>

</html>