<!DOCTYPE html>
<html lang="en">
<head>
	<title>AYUSHEER</title>
	<meta charset="UTF-8">
	 <meta name="viewport" content="width=device-width, initial-scale=1.0">
	 <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css') }}">
</head>
<body>
	<section class="imgbg">
		<img class="img1" src="../static/images/Ayusheer logo.png" alt="ayusheer logo">
		<center><h1>Wordigo</h1></center>
	    <img class="img2" src="../static/images/Sushiksha.png" alt="sushiksha logo">
	    
	</section>
	
	<section class="nav">
	<nav class="topnav" id="mytopnav">
		<a href="{{ url_for('templates', filename='Antonym.html') }}"><b>Home</b></a>
		<a href="Antonym.html"><b>Antonym</b></a>
		<a href="synonyms.html"><b>Synonym</b></a>
		<a href="report.html"><b>Report</b></a>
			</nav>
    </section>

    <div>
    	<p>
    	Welcome to Wordigo! This is one place where you can find both antonyms and synonyms of any given English word. This app makes it easier to learn synonyms and antonyms. Useful for students, teachers, businessmen and many more. This is the lifesaver especially when you need to avoid the usage of a single word multiple times within a pragraph. 

        </p>
    </div>
</body>
    <footer>
        <div><b>&copy; Ayusheer, 2020</b></div>
        <a href="mailto:nshenoyv@gmail.com"><b>Contact US</b></a>
        <center><img src="../static/images/WKC.png" alt= "WKC logo"></center>
    </footer>


</html>
