<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Report</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/style.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/style2.css') }}">

</head>
<body>
    <section class="imgbg">
		<img class="img1" src="../static/images/Ayusheer logo.png" alt="ayusheer logo">
		<center><h1>Wordigo</h1></center>
	    <img class="img2" src="../static/images/Sushiksha.png" alt="sushiksha logo">
	</section>
	
	<section class="nav">
	<nav class="topnav" id="mytopnav">
		<a href="index.html"><b>Home</b></a>
		<a href="Antonym.html"><b>Antonym</b></a>
		<a href="synonyms.html"><b>Synonym</b></a>
		<a href="report.html"><b>Report</b></a>
	</nav>
    </section>

	<center>
		<form>
		    <label>
			    <b>Name:</b>
		    </label></br>
		    <input type="text" placeholder="Enter user name" name="uname" required="name"></br>

		    <label>
			    <b>Query:</b>
		    </label></br>
		    <input type="text" placeholder="Enter your Query" name="Query" required="Query"></br>
		
		    <label>
			    <b>Solution:</b>
		    </label></br>
		    <input type="text" placeholder="Enter your Solution" name="Query"></br>
		
		    <input type="Submit" placeholder="Submit" onclick="myalert()">
		
		<script> 
        function myalert() { 
            alert("Thank You for bringing it into our notice! We will fix it soon");
        } 
        </script> 

	    </form>
    </center>
    <footer>
        <div><b>&copy; Ayusheer, 2020</b></div>
        <a href="mailto:nshenoyv@gmail.com"><b>Contact US</b></a>
        <center><img src="../static/images/WKC.png" alt= "WKC logo"></center>
    </footer>
</body>
</html>